html {
  padding: 0;
  margin: 0;
  padding-top: 50px;
  background-color: #222222;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  color: white;
}

body {
  padding: 0 15%;
}

div, input, select, button {
  margin: 2px;
}

.app {
  text-align: center;
}

.app-title {
  font-size: 4em;
}

.salary-text {
  font-size: 3em;
  font-weight: bold;
  color: red;
}

.time-text {
  font-size: 2.5em;
  font-weight: bold;
}

.green-text {
  color: #85bb65;
}
